#scroller {
    position: relative;
    width: 550px;
    height: 300px;
    margin: 0 auto;
    }

    #scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }

    #scroller li {
        padding: 15px;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }

#scroller li img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

